
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1470226805'); /* IE9*/
  src: url('iconfont.eot?t=1470226805#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470226805') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470226805') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470226805#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-all:before { content: "\e602"; }
.icon-rocket:before { content: "\e600"; }
.icon-dropdown:before { content: "\e603"; }
.icon-remove:before { content: "\e604"; }
.icon-comment:before { content: "\e607"; }
.icon-triangle:before { content: "\e60c"; }
.icon-weixiugongju:before { content: "\e608"; }
.icon-user:before { content: "\e601"; }
.icon-succ:before { content: "\e605"; }
.icon-upload:before { content: "\e609"; }
.icon-btnclosed:before { content: "\e606"; }
.icon-files:before { content: "\e60a"; }
.icon-editing:before { content: "\e60b"; }
