@charset "UTF-8";
/*===================
	样式重置
 ===================*/
html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
strong, em, i { font-style: normal; font-weight: normal; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
body { font:14px/1.5 tahoma,arial,'Lantinghei SC',"Microsoft YaHei",'Hiragino Sans GB',sans-serif;background:#fff; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }
/*===================
	公共样式
 ===================*/
* {box-sizing:border-box;}
html, body {height:100%;}
a:hover {text-decoration:none;}
.cf {zoom:1;overflow:hidden;}
	.cf:after {content:'\20';display:block;clear:both;height:0;visibility:hidden;}

/* 盒子布局 */
.ly_box {display:-webkit-box;display:-webkit-flex;display:flex;}
.ly_box.vertical {box-orient:vertical;-webkit-flex-flow:column;flex-flow:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;}

/* 多行文本省略 */
.ly_multiline {display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;}

/* <!--[if lt IE 8]><span class="ly_valign_after"></span><![endif]--> */
.ly_valign {font-size:0;}
	.ly_valign:after, .ly_valign_after {content:'';display:inline-block;*display:inline;*zoom:1;width:0;height:100%;vertical-align:middle;}
	.ly_valign_wrap {display:inline-block;*display:inline;*zoom:1;vertical-align:middle;font-size:14px;}